<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.biotop.model.BiotopRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.polymap.biotop.BiotopCategory"
            name="Biotop">
      </category>
      <wizard
            category="org.polymap.biotop.BiotopCategory"
            class="org.polymap.biotop.model.importer.MdbImportWizard"
            id="org.polymap.biotop.wizard1"
            name="LfULG-Daten (*.mdb)">
      </wizard>
   </extension>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.biotop.ui.BiotopFormPageProvider"
            id="org.polymap.biotop.BiotopPageProvider"
            isStandard="true"
            name="Biotop">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.rhei.form.filterProviders">
      <filterProvider
            class="org.polymap.biotop.ui.BiotopFilterProvider"
            id="org.polymap.biotop.BiotopFilterProvider"
            name="org.polymap.biotop.BiotopFilterProvider">
      </filterProvider>
   </extension>
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.biotop.model.importer.ShapeImportOperation"
            id="org.polymap.biotop.importer.ShapeImportOperation"
            label="Biotop: Shapefile-Import (sbk_xx.shp)">
      </featureOperation>
      <featureOperation
            class="org.polymap.biotop.operations.BekanntmachungOperation"
            description="Bekanntmachungsdatum auf &quot;heute&quot; setzen"
            id="org.polymap.biotop.featureOperation1"
            label="Biotop: Bekanntmachung"
            tooltip="Bekanntmachungsdatum auf &quot;heute&quot; setzen">
      </featureOperation>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polymap.biotop.BiotopPerspectiveFactory"
            id="org.polymap.biotop.BiotopPerspective"
            name="Biotop">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.polymap.biotop.entrypoint"
            id="org.polymap.biotop.branding"
            servletName="biotop"
            themeId="org.eclipse.rap.rwt.theme.Default"
            title="POLYMAP3|Biotop">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.polymap.biotop.BiotopWorkbench"
            id="org.polymap.biotop.entrypoint"
            parameter="biotop">
      </entrypoint>
   </extension>

</plugin>
