<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.biotop.model.BiotopRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.polymap.biotop.BiotopCategory"
            name="Biotop">
      </category>
      <wizard
            category="org.polymap.biotop.BiotopCategory"
            class="org.polymap.biotop.model.importer.MdbImportWizard"
            icon="icons/b.png"
            id="org.polymap.biotop.MdbImportWizard"
            name="LfULG-Daten (*.mdb)">
      </wizard>
      <wizard
            category="org.polymap.biotop.BiotopCategory"
            class="org.polymap.biotop.model.importer.WaldbiotopeImportWizard"
            icon="icons/b.png"
            id="org.polymap.biotop.MdbImportWizard"
            name="Waldbiotope (*.zip mit Shape und CSV)">
      </wizard>
   </extension>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.biotop.ui.BiotopFormPageProvider"
            id="org.polymap.biotop.BiotopPageProvider"
            isStandard="false"
            name="Biotop">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.rhei.form.filterProviders">
      <filterProvider
            class="org.polymap.biotop.ui.BiotopFilterProvider"
            id="org.polymap.biotop.BiotopFilterProvider"
            isStandard="true"
            name="org.polymap.biotop.BiotopFilterProvider">
      </filterProvider>
   </extension>
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.biotop.model.importer.ShapeImportOperation"
            icon="icons/b.png"
            id="org.polymap.biotop.importer.ShapeImportOperation"
            label="Biotop: Shapefile-Import (sbk_xx.shp)">
      </featureOperation>
      <featureOperation
            class="org.polymap.biotop.operations.SchutzstatusOperation"
            icon="icons/b.png"
            id="org.polymap.biotop.importer.SchutzstatusOperation"
            label="Biotop: Schutzstatus füllen">
      </featureOperation>
      <featureOperation
            class="org.polymap.biotop.operations.BekanntmachungOperation"
            description="Bekanntmachungsdatum auf &quot;heute&quot; setzen"
            icon="icons/b.png"
            id="org.polymap.biotop.BekanntmachungOperation"
            label="Biotop: Bekanntmachung"
            tooltip="Bekanntmachungsdatum auf &quot;heute&quot; setzen">
      </featureOperation>
      <featureOperation
            class="org.polymap.biotop.operations.Biotoptyp2002Operation"
            description="Alten Biotoptyp 2002 verknüpfen"
            icon="icons/b.png"
            id="org.polymap.biotop.Biotoptyp2002Operation"
            label="Biotop: Biotoptyp 2002"
            tooltip="Alten Biotoptyp 2002 verknüpfen">
      </featureOperation>
      <featureOperation
            class="org.polymap.biotop.operations.ExportOperation"
            description="Export nach CSV/Shape"
            icon="icons/b.png"
            id="org.polymap.biotop.ExportOperation"
            label="Biotop: Datenexport"
            tooltip="Export des gesamten Datenbestandes nach CSV/Shape">
      </featureOperation>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polymap.biotop.BiotopPerspectiveFactory"
            icon="icons/b.png"
            id="org.polymap.biotop.BiotopPerspective"
            name="Biotop">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.polymap.biotop.entrypoint"
            favicon="icons/b.png"
            id="org.polymap.biotop.branding"
            servletName="biotop"
            themeId="org.eclipse.rap.rwt.theme.Default"
            title="POLYMAP3|Biotop">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.polymap.biotop.BiotopWorkbench"
            id="org.polymap.biotop.entrypoint"
            parameter="biotop">
      </entrypoint>
   </extension>
   <extension
         point="org.polymap.core.http.servlets">
      <servlet
            class="org.polymap.core.WorkbenchRedirectServlet"
            name="Workbench Redirect"
            path="/">
      </servlet>
   </extension>
   <!--extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.biotop.ui.CopyOperationConcern"
            id="org.polymap.biotop.copyConcern">
      </concern>
   </extension-->

</plugin>
